{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="background-image">
  <div class="container mybg-primary">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 text-align-center">
          <div class="card">
            <h1 class="text-center">{% trans "Sign In" %}</h1>
            {% get_providers as socialaccount_providers %}
            
            {% if socialaccount_providers %}
            <div class="d-flex justify-content-center">
              <p>Don't have an account? <a href="{{ signup_url }}">sign up</a></p>
            </div>
            
            <div class="socialaccount_ballot">
            
              <ul class="socialaccount_providers">
                <li class="d-flex justify-content-center">
                  <a role="button" title="Google" class="ocialaccount_provider d-flex justify-content-center" href="/accounts/google/login/?process=login">
                    <img class="" src="{% static 'users/image/googleSignIn.png' %}">
                  </a>
                </li>
              </ul>
            </div>
              
            <div class="or-container">
              <div class="line-separator"></div>
              <div class="login-or text-center or-label">{% trans 'or' %}</div>
              <div class="line-separator"></div>

            </div>

            
            
            {% include "socialaccount/snippets/login_extra.html" %}
            
            {% else %}
            <p>{% blocktrans %}If you have not created an account yet, then please
            <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
            {% endif %}
            
            <form class="login" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}
              {% if request.GET.next %}
              <input type="hidden" name="next" value="{{request.GET.next}}">
              {% endif %}
              <p>
                <div class="row d-flex justify-content-center">
                  <div class="col-9">
                    <input type="email" name="login" placeholder="E-mail address" autocomplete="email" required="" id="id_login">
                  </div>
                </div>
              </p>
              <p>
                <div class="row d-flex justify-content-center">
                  <div class="col-9">
                    <input type="password" name="password" placeholder="Password" autocomplete="current-password" required="" id="id_password">
                  </div>
                </div>
              </p>
              <!-- <p>
                <div class="row d-flex justify-content-center">
                  <div class="col-9">
                    <label class="text-end" for="id_remember">Remember Me:</label>
                    <input class="form-check-input" type="checkbox" name="remember" id="id_remember">
                  </div>
                </div>
              </p> -->
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <div class="row">
                <div class="col d-flex justify-content-center">
                  <button class="primaryAction my-btn-darkblue" type="submit">{% trans "Sign In" %}</button>
                </div>
              </div>
              <div class="row">
                <div class="col d-flex justify-content-center">
                  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

                </div>
              </div>

            </form>
          </div>
        </div>
    </div>
  </div>
</div>



{% endblock %}