{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <h1 class="text-center">Password Reset</h1>
                <p>Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>
            
                <form method="POST" action="/accounts/password/reset/" class="password_reset">
                    <input type="hidden" name="csrfmiddlewaretoken" value="6hluUNJYimypIu4aKJzR4GMrGf2PprpP0ofIyb1a6nDky9cx620HVePQy0LN8UDk">
                    <p class="text-center"><input type="email" name="email" placeholder="E-mail address" autocomplete="email" required="" id="id_email"></p>

                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <input role="button" class="my-btn-darkblue" type="submit" value="Reset My Password">
                        </div>
                    </div>
                </form>
            
                <p>Please contact us if you have any trouble resetting your password.</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}
